
  <footer class="footer footer-white ">
      <div class="container">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li>
                <a href="https://linkedin/in/mucheruj">
                  mucheru.co
                </a>
              </li>
            </ul>
          </nav>
          <div class="credits ml-auto">
            <span class="copyright">
                &copy;
                <a href="https://twitter.com/Mucheeru" target="_blank">Mucheru</a> 
            </span>
          </div>
        </div>
      </div>
  </footer>
